In [2]:
import pandas as pd
import numpy as np

In [16]:
file = "data/TSLA.csv"

df = pd.read_csv(file)

df.head()

df = df[["Date", "Close"]]

df["Date"] = pd.to_datetime(df["Date"], format = "%Y-%m-%d")

df = df[(df["Date"].dt.year >= 2011) & (df["Date"].dt.year <= 2022)]

df.tail()

df["ln_Returns"] = (np.log(df["Close"]) - np.log(df["Close"].shift(1))) * 100

df.head()

          Date     Close  ln_Returns
130 2011-01-03  1.774667         NaN
131 2011-01-04  1.778000    0.187634
132 2011-01-05  1.788667    0.598151
133 2011-01-06  1.858667    3.838891
134 2011-01-07  1.882667    1.282982

In [21]:
df_avg = df["ln_Returns"].groupby(df["Date"].dt.year).mean()
df_avg

Date
2011    0.028026
2012    0.068209
2013    0.591654
2014    0.155168
2015    0.030221
2016   -0.046093
2017    0.149957
2018    0.026543
2019    0.090765
2020    0.842812
2021    0.160252
2022   -0.418615
Name: ln_Returns, dtype: float64

In [26]:
years = list(df_avg.index)
values = list(np.round(df_avg.values, 3))

my_dictionary = {k:v for k, v in zip(years, values)}
my_dictionary

{2011: 0.028,
 2012: 0.068,
 2013: 0.592,
 2014: 0.155,
 2015: 0.03,
 2016: -0.046,
 2017: 0.15,
 2018: 0.027,
 2019: 0.091,
 2020: 0.843,
 2021: 0.16,
 2022: -0.419}