# Exercise 15

In [1]:
import pandas as pd
import numpy as np

In [6]:
index = ["Berlin", "Madrid", "Rom"]
bewölkerung  = pd.Series(data = [3.6, 3.3, 2.8], index = index)
fläche = pd.Series(data = [892, 604, 1285], index = index)
land = pd.Series(data = ["Deutschland", "Spanien", "Italien"], index = index)
sprache = pd.Series(data = ["deutsch", "spanisch", np.nan], index = index)

my_dict = {
    'Bewölkerung': bewölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df = pd.DataFrame(my_dict)
df

        Bewölkerung  Fläche         Land   Sprache
Berlin          3.6     892  Deutschland   deutsch
Madrid          3.3     604      Spanien  spanisch
Rom             2.8    1285      Italien       NaN

In [5]:
df.dtypes

Bewölkerung    float64
Fläche           int64
Land            object
Sprache         object
dtype: object

In [7]:
df.shape

(3, 4)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Berlin to Rom
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Bewölkerung  3 non-null      float64
 1   Fläche       3 non-null      int64
 2   Land         3 non-null      object
 3   Sprache      2 non-null      object
dtypes: float64(1), int64(1), object(2)
memory usage: 120.0+ bytes

In [9]:
df.describe()

       Bewölkerung       Fläche
count     3.000000     3.000000
mean      3.233333   927.000000
std       0.404145   341.846457
min       2.800000   604.000000
25%       3.050000   748.000000
50%       3.300000   892.000000
75%       3.450000  1088.500000
max       3.600000  1285.000000

In [11]:
df.isnull()

        Bewölkerung  Fläche   Land  Sprache
Berlin        False   False  False    False
Madrid        False   False  False    False
Rom           False   False  False     True

In [12]:
df.isnull().sum()

Bewölkerung    0
Fläche         0
Land           0
Sprache        1
dtype: int64

In [13]:
index = ["Berlin", "Madrid", "Rom"]
bewölkerung  = pd.Series(data = [3.6, 3.3, 2.8], index = index)
fläche = pd.Series(data = [892, 604, 1285], index = index)
land = pd.Series(data = ["Deutschland", "Spanien", "Italien"], index = index)
sprache = pd.Series(data = ["deutsch", "spanisch", "italienisch"], index = index)

my_dict = {
    'Bewölkerung': bewölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df = pd.DataFrame(my_dict)
df

        Bewölkerung  Fläche         Land      Sprache
Berlin          3.6     892  Deutschland      deutsch
Madrid          3.3     604      Spanien     spanisch
Rom             2.8    1285      Italien  italienisch

In [19]:
df.iloc(2,3)

TypeError: _LocationIndexer.__call__() takes from 1 to 2 positional arguments but 3 were given

In [21]:
index = ["New York"]
bewölkerung  = pd.Series(data = [8.5], index = index)
fläche = pd.Series(data = [700], index = index)
land = pd.Series(data = ["USA"], index = index)
sprache = pd.Series(data = ["englisch"], index = index)

my_dict = {
    'Bewölkerung': bewölkerung,
    'Fläche': fläche,
    'Land': land,
    'Sprache': sprache
}

df2 = pd.DataFrame(my_dict)
df2

          Bewölkerung  Fläche Land   Sprache
New York          8.5     700  USA  englisch

In [20]:
df3 = pd.concat([df, df2])
df3

NameError: name 'df2' is not defined

In [22]:
df3["EU"] = df3["Land"] != "USA"
df3

NameError: name 'df3' is not defined

In [23]:
df3["Region"] = np.where(df3["EU"]) == True, "Europe", "Americas")
df3

SyntaxError: unmatched ')' (2657019932.py, line 1)